body {
	background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url("./background img/ramen-6128685_1280.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* ビューポートの高さに合わせる */
	text-align: center;
	/* テキストを中央に配置 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    background-color: beige; /* 背景色を白に設定 */
    padding: 5px;           /* セル内のパディングを追加 */
    text-align: center;     /* テキストを中央揃えに設定 */
}